.header {
  padding-left: 20px;
  border-width: 0 0 5px 0;
  border-style: solid;
  border-image: linear-gradient(to left, rgba(251, 49, 93, 0.8), rgba(0, 203, 213, 0.8), rgba(163, 74, 241, 0.8)) 1;

  font-weight: 1000;
  color: rgba(0, 12, 23, 0.7);
}

.content {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.periodSelector {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.table {
  width: 80%;
  margin: 20px auto 40px;
}

.productStats {
  display: flex;
  flex-direction: row;

  width: 70%;
  height: 200px;

  margin: auto;
}

.icon {
  opacity: 0.3;
  width:auto;
  height: 40%;
  max-height: 200px;
}

